<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.klu.spring_di_student.Student">

        <!-- Constructor Injection -->
        <constructor-arg value="101"/>
        <constructor-arg value="Vinay"/>
        <constructor-arg value="Computer Science"/>
        <constructor-arg value="3"/>

        <!-- Setter Injection -->
        <property name="course" value="Artificial Intelligence"/>
        <property name="year" value="4"/>

    </bean>

</beans>